/* Content Stylings */
.content {
  & > p,
  & > ul {
    @apply mb-5 lg:mb-10 last-of-type:mb-0 md:text-xl 2xl:text-2xl md:leading-normal 2xl:leading-normal;
  }

  & > ul {
    @apply mb-5 lg:mb-10 last-of-type:mb-5 lg:last-of-type:mb-10;

    li {
      &:before {
        content: '>';
        position: relative;
        margin-right: 10px;
      }
    }
  }

  & > p > a {
    @apply underline hover:text-opacity-25 focus:text-opacity-25;
  }

  & > h1, & > h2, & > h3, & > h4 {
    @apply uppercase tracking-wider font-bold;
  }

  & > h1, & > .h1 {
    @apply text-2xl lg:text-4xl mb-[8vw] lg:mb-[5vw];
  }

  & > h2, & > .h2 {
    @apply text-xl lg:text-3xl;
  }

  & > h3, & > .h3 {
    @apply text-lg lg:text-2xl;
  }
}

/* Content Stylings */
.content--small {
  & > p {
    @apply mb-5 last-of-type:mb-0 md:text-lg md:leading-normal;
  }

  & > p > a {
    @apply underline hover:text-opacity-25 focus:text-opacity-25;
  }
}

/* Heading Defaults */
h1, .h1, h2, .h2, h3, .h3 {
  @apply p-0 mb-6 font-bold;
}

.display-text {
  @apply font-black leading-none uppercase;
  font-size: clamp(50px, 7.5vw, 150px);
}