/* Content Stylings */
.content {
  & > p,
  & > ul,
  & > blockquote {
    @apply mb-5 lg:mb-10 last-of-type:mb-0 md:text-xl 2xl:text-2xl leading-[1.25] md:leading-[1.35] 2xl:leading-[1.35];

    em {
      @apply normal-case not-italic !important;
    }

    strong {
      @apply font-medium !important;
    }
  }

  & > ul {
    @apply mb-5 lg:mb-10 last-of-type:mb-5 lg:last-of-type:mb-10;

    li {
      &:before {
        content: '>';
        position: relative;
        margin-right: 10px;
      }
    }
  }

  & > p > a {
    @apply underline hover:text-opacity-25 focus:text-opacity-25;
  }

  & > h1, & > h2, & > h3, & > h4 {
    @apply uppercase tracking-wider font-bold !important;
  }

  & > h1, & > .h1 {
    @apply text-3xl lg:text-4xl xl:text-5xl mb-6 md:mb-10 md:pb-0 tracking-tight font-bold;
  }

  & > h2, & > .h2 {
    @apply text-2xl lg:text-3xl;
  }

  & > h3, & > .h3 {
    @apply text-xl lg:text-2xl;
  }
}

/* Content Stylings */
.content--small {
  & > p {
    @apply mb-5 last-of-type:mb-0 md:text-lg md:leading-normal;
  }

  & > p > a {
    @apply underline hover:text-opacity-25 focus:text-opacity-25;
  }
}

.content--nolead {
  & > p {
    @apply leading-[1.075] lg:leading-[1.25] xl:leading-[1.25]
  }
}

/* Heading Defaults */
h1, .h1, h2, .h2, h3, .h3 {
  @apply p-0 mb-6 font-bold;
}

.display-text {
  @apply font-black leading-none uppercase;
  font-size: clamp(50px, 7.5vw, 150px);
}

.display-text--small {
  @apply font-black leading-none uppercase;
  font-size: clamp(40px, 5vw, 90px);
}

.display-text--large {
  @apply font-black leading-none uppercase;
  font-size: clamp(40px, 8vw, 180px);
}

.index-heading {
  @apply text-[68px];
  
  @screen md {
    @apply text-[120px] translate-x-[-0.3vw]
  }

  @screen lg {
    @apply text-[11.02vw];
  }
  
  @screen xl {
    @apply text-[10.9vw];
  }

  @screen 2xl {
    @apply text-[11.02vw];
  }

  @screen 3xl {
    @apply text-[11.15vw];
  }

  @media screen and (min-width: 2300px) {
    @apply text-[11.24vw];
  }
}


#hubspot-form-wrapper {
  @apply w-full !important;

  form {
    @apply w-full !important;
  }

  .hs-form-field {
    @apply relative text-left w-full !important;

    label {
      @apply relative text-left px-3 text-sm block !important;
    }

    legend {
      @apply relative text-left px-3 text-sm block !important;
    }

    label:empty {
      @apply hidden !important;
    }

    .hs-input {
      @apply border-black/30 border border-b bg-transparent w-full p-3 mb-3 block mt-1 focus:border-black focus:outline-none placeholder:text-black/40 placeholder:uppercase placeholder:text-sm appearance-none !important;

      &.invalid {
        @apply border-[#8E0101] relative border-b !important;
      }
    }
  }

  .hs-fieldtype-select {
    .input {
      @apply relative !important;

      &:after {
        content: '↓';
        @apply w-12 h-full absolute top-0 right-0 z-10 border-l border-black flex items-center justify-center text-2xl opacity-30;
      }

      select {
        @apply appearance-none !important; 
        -webkit-appearance:none !important;
      }

      select:focus {
        &:after {
          @apply opacity-100;
        }
      }
    }
  }

  select {
    @apply relative !important;
  }
  
  .hs-fieldtype-radio {
    @apply border-black/30 border border-b bg-transparent py-3 mb-3 !important;

    label {
      @apply block mb-3 !important;
    }

    .inputs-list {
      .hs-input {
        @apply block w-auto mr-3 mb-1 !important;
      }

      span {
        @apply mt-[3px] ml-3;
      }

      input[type='radio'] {
        @apply opacity-100 relative p-0 border-none !important;

        &:after {
          content: ' ';
          @apply opacity-100 w-4 h-4 absolute top-0 left-0 z-10 border border-black bg-white;
        }
      }

      input[type='radio']:checked {
        &:after {
          content: ' ';
          @apply bg-black;
        }
      }

      label {
        @apply flex flex-wrap items-start mb-1 !important;
      }
    }
  }

  .hs-fieldtype-checkbox {
    @apply border-black/30 border border-b bg-transparent py-3 mb-3 !important;

    label {
      @apply block mb-3 !important;
    }

    .inputs-list {
      .hs-input {
        @apply block w-auto mr-3 mb-1 !important;
      }

      span {
        @apply mt-[3px] ml-3;
      }

      input[type='checkbox'] {
        @apply opacity-100 relative p-0 border-none !important;

        &:after {
          content: ' ';
          @apply opacity-100 w-4 h-4 absolute top-0 left-0 z-10 border border-black bg-white;
        }
      }

      input[type='checkbox']:checked {
        &:after {
          content: ' ';
          @apply bg-black;
        }
      }

      label {
        @apply flex flex-wrap items-start mb-1 !important;
      }
    }
  }

  .hs-error-msgs {
    @apply text-black text-left px-3 py-0 m-0 last-of-type:mb-3 left-0 text-sm leading-snug !important;

    label {
      @apply relative p-0 block !important;
    }
  }

  input[type='submit'] {
    @apply pill-btn px-3 py-1 mt-6 lg:mt-8 cursor-pointer focus:outline-none !important;
  }

  .hs_error_rollup {
    .hs-error-msgs {
      @apply mt-8 pb-0 text-center !important;
    }
  }
}