/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
body {
  @apply font-sans antialiased text-black bg-white;
}

/* Soften Page Transition Scrolls */
html {
  scroll-behavior: smooth;
}

@screen lg {
  .nav-has-child {
    &:focus-within > .nav-child {
      @apply block opacity-100;
    }
    
    a {
      &:hover, &:focus {
        & + .nav-child {
          @apply block opacity-100;
        }
      }
    }
  }
  
  .nav-child {
    @apply hidden absolute top-0 left-0 right-0 opacity-0 p-6 border-b border-black/50 backdrop-blur-3xl bg-white bg-opacity-40 w-full;

    &:after {
      content: ' ';
      @apply absolute top-0 left-0 bottom-[-1px] w-[100vw] translate-x-[-100vw] border-b border-black/50 backdrop-blur-3xl bg-white bg-opacity-40;
    }

    &:focus-within {
      @apply block opacity-100;
    }

    &:hover {
      @apply block opacity-100;
    }
  }
}

canvas {
  @apply w-full;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 75%;

  @apply justify-start;

  @screen lg {
    grid-auto-columns: 60%;
  }
}

.embla__slide {
  @apply border-r border-black/50;
}

.embla__slide-inner {
  @apply transition-all ease-in-out duration-500 h-[95vw] lg:h-[50vw] p-6 lg:p-10;
}

.embla__slide-inner-blur {
  @apply blur-lg transition-all ease-in-out duration-500;
}

.is-selected {
  .embla__slide-inner {
    @apply bg-pink/20;
  }

  .embla__slide-inner-blur {
    @apply blur-0;
  }
}





.embla--team {
  .embla__container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 70%;

    @apply justify-start;

    @screen lg {
      grid-auto-columns: 27.5%;
    }
  }

  .embla__slide {
    @apply border border-black/50 mr-8 lg:mr-12;
  }

  .embla__slide-inner {
    @apply transition-all ease-in-out duration-500 h-auto lg:h-auto p-6 lg:p-10;
  }
}

.embla--blog {
  .is-selected {
    .embla__slide-inner {
      @apply bg-white;
    }
  }
}


.roll-btn {
  @apply relative;
}

.roll-btn__front {
  @apply bg-black block text-white text-center uppercase px-6 py-6 tracking-wide relative;
  -webkit-transform-origin: 50% 100% 0;
  transform-origin: 50% 100% 0;
  transition: -webkit-transform .3s cubic-bezier(.76,0,.24,1) 0s;
  transition: transform .3s cubic-bezier(.76,0,.24,1) 0s;
  transition: transform .3s cubic-bezier(.76,0,.24,1) 0s,-webkit-transform .3s cubic-bezier(.76,0,.24,1) 0s;
}

.roll-btn__back {
  @apply bg-black block text-white h-full w-full text-center uppercase px-6 py-6 tracking-wide absolute left-0 top-[100%] z-[-1];
  -webkit-transform-origin: 50% 0 0;
  transform-origin: 50% 0 0;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  transition: -webkit-transform .3s cubic-bezier(.76,0,.24,1) 0s;
  transition: transform .3s cubic-bezier(.76,0,.24,1) 0s;
  transition: transform .3s cubic-bezier(.76,0,.24,1) 0s,-webkit-transform .3s cubic-bezier(.76,0,.24,1) 0s;
}

.roll-btn:hover {
  .roll-btn__front {
    -webkit-transform: translateY(-100%) rotateX(90deg);
    transform: translateY(-100%) rotateX(90deg);
  }
  .roll-btn__back {
    -webkit-transform: translateY(-100%) rotateX(0);
    transform: translateY(-100%) rotateX(0);
  }
}