/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
body {
  @apply font-sans antialiased text-black bg-white selection:bg-black selection:text-white;
}

.bg-black {
  @apply selection:bg-white selection:text-black;
}

/* Soften Page Transition Scrolls */
html {
  scroll-behavior: smooth;
}

@screen lg {
  .nav-has-child {
    &:focus-within > .nav-child {
      @apply block opacity-100;
    }
    
    a {
      &:hover, &:focus {
        & + .nav-child {
          @apply block opacity-100;
        }
      }
    }
  }
  
  .nav-child {
    @apply hidden fixed top-0 left-0 right-0 opacity-0 p-6 bg-white bg-opacity-0 w-full z-[100];

    &:after {
      content: ' ';
      @apply absolute top-0 left-0 h-full translate-y-[-1px] w-[200vw] translate-x-[-100vw] border-b border-black/50 bg-opacity-0 backdrop-blur-lg z-0 bg-white/20;
    }

    &:focus-within {
      @apply block opacity-100;
    }

    &:hover {
      @apply block opacity-100;
    }
  }
}

canvas {
  @apply w-full;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 75%;

  @apply justify-start;

  @screen lg {
    grid-auto-columns: 49%;
  }
}

.embla__slide {
  @apply border-r border-black/50;
}

.embla__slide-inner {
  @apply transition-all ease-in-out duration-500 h-[95vw] lg:h-[50vw] p-6 lg:p-10;
}

.embla__slide-inner-blur {
  @apply blur-lg transition-all ease-in-out duration-500;
}

.is-selected {
  .embla__slide-inner-blur {
    @apply blur-0;
  }
}

.embla--games {
  .embla__container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;

    @apply justify-start;

    @screen lg {
      grid-auto-columns: 49%;
    }
  }

  .embla__slide-inner {
    @apply h-[120vw] lg:h-[53vw] xl:h-[48vw] 2xl:h-[45vw];
  }

  .is-selected {
    .embla__slide-inner {
      @apply bg-pink/20;
    }

    .embla__slide-inner-blur {
      @apply blur-0;
    }
  }
}




.embla--team {
  .embla__container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 95%;

    @apply justify-start;

    @screen lg {
      grid-auto-columns: 40.5%;
    }

    @screen xl {
      grid-auto-columns: 27.5%;
    }
  }

  .embla__slide {
    @apply border border-black/50 mr-6 lg:mr-12 bg-pink/20;
  }

  .embla__slide-inner {
    @apply transition-all ease-in-out duration-500 h-auto lg:h-auto p-6 lg:p-10;
  }

  .is-selected {
    
    
    .embla__slide-inner {
      @apply bg-transparent;
    }
  }
}

.embla--games-videos {
  .embla__container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;

    @apply justify-start;

    @screen lg {
      grid-auto-columns: 100%;
    }

    @screen xl {
      grid-auto-columns: 100%;
    }
  }

  .embla__slide {
    @apply border-r-0;
  }

  .embla__slide-inner {
    @apply transition-all ease-in-out duration-500 h-auto lg:h-auto p-0 lg:p-0;
  }

  .embla__slide-text {
    @apply transition-all ease-in-out duration-500 opacity-0 hidden;
  }

  .embla__slide-inner-blur {
    @apply blur-lg transition-all ease-in-out duration-500;
  }

  .is-selected {
    .embla__slide-inner-blur {
      @apply blur-0;
    }
    
    .embla__slide-text {
      @apply opacity-100 block;
    }
  }
}

.embla--blog {

  .embla__slide {
    @apply bg-white !important;
  }
  .embla__container {
    grid-auto-columns: 90%;

    @screen lg {
      grid-auto-columns: 32.5%;
    }
  }
  
  .embla__slide {
    @apply mr-8 xl:mr-16;
  }

}

.embla--mobile-scroller {
  @apply px-6 lg:px-0;

  .embla__container {
    grid-auto-columns: 100%;

    @screen lg {
      grid-auto-columns: 49%;
      grid-column-gap: 0px;
    }
  }

  .embla__slide {
    @apply border-r-0 border-l-0 border-t-0 border-b-0 lg:border-r lg:mr-0 !important;
  }
  
  .embla__slide-inner {
    @apply p-0 lg:p-0 border-0 h-auto !important;
  }

  .embla__slide-title {
    @apply opacity-0 transition-opacity ease-in-out duration-300;
  }

  .embla__slide-inner-blur {
    @apply blur-0 lg:blur-lg transition-all ease-in-out duration-500 lg:scale-[1.02];
  }

  .is-selected {
    .embla__slide-inner-blur {
      @apply lg:scale-[1.02] blur-0 lg:blur-0;
    }

    .embla__slide-title {
      @apply opacity-100;
    }
  }
}

.embla--mobile-scroller--team {
  @apply px-0 lg:px-0 !important;

  .embla__slide-inner {
    @apply px-6 !important;
  }
}

.embla--card {
  @apply px-6 lg:px-0;

  .embla__container {
    grid-auto-columns: 100%;

    @screen lg {
      grid-auto-columns: 49%;
      grid-column-gap: 0px;
    }
  }
  

  .embla__slide {
    @apply border-r-0 border-l-0 lg:border-r lg:mr-0 !important;
  }

  .embla__slide-inner {
    @apply p-0 lg:p-0;
  }

  .embla__slide-title {
    @apply opacity-0 transition-opacity ease-in-out duration-300;
  }

  .embla__slide-inner-blur {
    @apply blur-0 lg:blur-lg transition-all ease-in-out duration-500 lg:scale-[1.02];
  }

  .is-selected {
    .embla__slide-inner-blur {
      @apply lg:scale-[1.02] blur-0 lg:blur-0;
    }

    .embla__slide-title {
      @apply opacity-100;
    }
  }
}


.roll-btn {
  @apply relative;
}

.roll-btn__front {
  @apply bg-black text-white text-center uppercase px-12 py-6 tracking-wide relative h-full flex items-center justify-center border border-transparent;
  -webkit-transform-origin: 50% 100% 0;
  transform-origin: 50% 100% 0;
  transition: -webkit-transform .3s cubic-bezier(.76,0,.24,1) 0s;
  transition: transform .3s cubic-bezier(.76,0,.24,1) 0s;
  transition: transform .3s cubic-bezier(.76,0,.24,1) 0s,-webkit-transform .3s cubic-bezier(.76,0,.24,1) 0s;
}

.roll-btn__back {
  @apply flex items-center justify-center text-black h-full w-full text-center uppercase px-12 py-6 tracking-wide absolute left-0 top-[100%] z-[-1] bg-pink border border-black/50;
  -webkit-transform-origin: 50% 0 0;
  transform-origin: 50% 0 0;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  transition: -webkit-transform .3s cubic-bezier(.76,0,.24,1) 0s;
  transition: transform .3s cubic-bezier(.76,0,.24,1) 0s;
  transition: transform .3s cubic-bezier(.76,0,.24,1) 0s, -webkit-transform .3s cubic-bezier(.76,0,.24,1) 0s;
}

@screen lg {
  .roll-btn:hover {
    .roll-btn__front {
      -webkit-transform: translateY(-100%) rotateX(90deg);
      transform: translateY(-100%) rotateX(90deg);
    }
    .roll-btn__back {
      -webkit-transform: translateY(-100%) rotateX(0);
      transform: translateY(-100%) rotateX(0);
    }
  }
}

.roll-btn--header {
  .roll-btn__front, roll-btn__back {
    @apply px-2 lg:px-12;
  }
}

.roll-btn--hero {
  .roll-btn__front, roll-btn__back {
    @apply px-4 py-6 lg:px-12 lg:py-6 text-sm lg:text-base;
  }
}

.pill-btn {
  @apply inline-block border border-current border-opacity-50 font-medium uppercase leading-none p-1 lg:p-3 rounded-sm hover:bg-black hover:text-white focus:bg-black focus:text-white text-sm lg:text-base hover:border-black;
}

.cover-image {
  img {
    @apply object-cover object-center;
  }
}

.cover-image--bottom {
  img {
    @apply object-cover object-bottom;
  }
}

.phone-mask, .phone-backer, .phone-mask img {
  -webkit-mask-image: url('/icons/phone-block.svg');
  mask-image: url('/icons/phone-block.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

@supports not (aspect-ratio: 1 / 1) {
  .aspect-square::before {
    float: left;
    padding-top: 100%;
    content: "";
  }

  .aspect-square::after {
    display: block;
    content: "";
    clear: both;
  }
}

.nav-open {
  @apply bg-opacity-20 !important;
}

iframe {
  @apply w-full h-auto aspect-video !important;
}